<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.cemobile.framework.dao.LabCollegeMapper">

	<resultMap id="BaseResultMap" type="com.cemobile.framework.entity.LabCollege">
		<id property="collegeId" column="college_id"  jdbcType="BIGINT"/>
		<result property="collegeName" column="college_name" jdbcType="CHAR" />
		<result property="shortName" column="short_name" jdbcType="CHAR" />
		<result property="collegeProfile" column="college_profile" jdbcType="VARCHAR" />
		<result property="createDate" column="create_date" jdbcType="DATE" />
		<result property="editDate" column="edit_date" jdbcType="DATE" />
		<result property="del" column="del" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
	    <![CDATA[
		college_id,college_name,short_name,college_profile,create_date,edit_date,del
	    ]]>
	</sql>

	<sql id="LabCollege_findPage">
		<where>
			del=0 
	       <if test="collegeId != null">
				AND college_id = #{collegeId,jdbcType=BIGINT}
			</if>
	       <if test="collegeName != null">
				AND college_name = #{collegeName,jdbcType=CHAR}
			</if>
	       <if test="shortName != null">
				AND short_name = #{shortName,jdbcType=CHAR}
			</if>
	       <if test="collegeProfile != null">
				AND college_profile = #{collegeProfile,jdbcType=VARCHAR}
			</if>
	       <if test="createDate != null">
				AND create_date = #{createDate,jdbcType=DATE}
			</if>
	       <if test="editDate != null">
				AND edit_date = #{editDate,jdbcType=DATE}
			</if>
	       <if test="del != null">
				AND del = #{del,jdbcType=INTEGER}
			</if>
		</where>
	</sql>

	<insert id="insert" parameterType="com.cemobile.framework.entity.LabCollege"  useGeneratedKeys="true" keyProperty="collegeId"  >
    <![CDATA[
        INSERT INTO lab_college (
        	college_id ,
        	college_name ,
        	short_name ,
        	college_profile ,
        	create_date ,
        	edit_date ,
        	del 
        ) VALUES (
        	#{collegeId,jdbcType=BIGINT} ,
        	#{collegeName,jdbcType=CHAR} ,
        	#{shortName,jdbcType=CHAR} ,
        	#{collegeProfile,jdbcType=VARCHAR} ,
        	sysdate(),
        	#{editDate,jdbcType=DATE} ,
        	#{del,jdbcType=INTEGER} 
        )
    ]]>
	</insert>

    <insert id="insertSelective" parameterType="com.cemobile.framework.entity.LabCollege">
        INSERT INTO lab_college 
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="collegeId != null">college_id </if>,
			<if test="collegeName != null">college_name </if>,
			<if test="shortName != null">short_name </if>,
			<if test="collegeProfile != null">college_profile </if>,
			<if test="createDate != null">create_date </if>,
			<if test="editDate != null">edit_date </if>,
			<if test="del != null">del </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="collegeId != null">
				college_id = #{collegeId,jdbcType=BIGINT}	,
			</if>
			<if test="collegeName != null">
				college_name = #{collegeName,jdbcType=CHAR}	,
			</if>
			<if test="shortName != null">
				short_name = #{shortName,jdbcType=CHAR}	,
			</if>
			<if test="collegeProfile != null">
				college_profile = #{collegeProfile,jdbcType=VARCHAR}	,
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=DATE}	,
			</if>
			<if test="editDate != null">
				edit_date = #{editDate,jdbcType=DATE}	,
			</if>
			<if test="del != null">
				del = #{del,jdbcType=INTEGER}	
			</if>
		</trim>
	</insert>

	<insert id="insertBatch" parameterType="com.cemobile.framework.entity.LabCollege" >
		 INSERT INTO lab_college  (
        	college_name ,
        	short_name ,
        	college_profile ,
        	create_date ,
        	edit_date ,
        	del 
		) VALUES
		<foreach collection="list" item="item" index="index" separator=",">(
        	#{item.collegeName,jdbcType=CHAR} ,
        	#{item.shortName,jdbcType=CHAR} ,
        	#{item.collegeProfile,jdbcType=VARCHAR} ,
        	#{item.createDate,jdbcType=DATE} ,
        	#{item.editDate,jdbcType=DATE} ,
        	#{item.del,jdbcType=INTEGER} 
			)
		</foreach>
	</insert>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM lab_college WHERE
        college_id =#{collegeId,jdbcType=BIGINT}
    </delete>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.cemobile.framework.entity.LabCollege" >
        UPDATE lab_college 
		<set>
				<if test="collegeName != null">
				college_name = #{collegeName,jdbcType=CHAR}	,
				</if>
				<if test="shortName != null">
				short_name = #{shortName,jdbcType=CHAR}	,
				</if>
				<if test="collegeProfile != null">
				college_profile = #{collegeProfile,jdbcType=VARCHAR}	,
				</if>
				<if test="createDate != null">
				create_date = #{createDate,jdbcType=DATE}	,
				</if>
				<if test="editDate != null">
				edit_date = #{editDate,jdbcType=DATE}	,
				</if>
				<if test="del != null">
				del = #{del,jdbcType=INTEGER}	
				</if>
		</set>
		WHERE  college_id =#{collegeId,jdbcType=BIGINT}
	</update>

    <update id="updateByPrimaryKey" parameterType="com.cemobile.framework.entity.LabCollege" >
        UPDATE lab_college 
		<set>
				college_name = #{collegeName,jdbcType=CHAR}	,
				short_name = #{shortName,jdbcType=CHAR}	,
				college_profile = #{collegeProfile,jdbcType=VARCHAR}	,
				create_date = #{createDate,jdbcType=DATE}	,
				edit_date = #{editDate,jdbcType=DATE}	,
				del = #{del,jdbcType=INTEGER}	
		</set>
		WHERE  college_id = #{collegeId,jdbcType=BIGINT}
	</update>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select 
		<include refid="Base_Column_List" />
		from lab_college 
		WHERE  college_id = #{collegeId,jdbcType=BIGINT}
	</select>

	<select id="queryByKeyword" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from lab_college 
		<include refid="LabCollege_findPage"/>    
	</select>

	<select id="queryAllLabCollege" resultMap="BaseResultMap" >
		select 
		<include refid="Base_Column_List" />
		from lab_college 
	</select>
</mapper>

