<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.cemobile.framework.dao.LabDepartmentMapper">

	<resultMap id="BaseResultMap" type="com.cemobile.framework.entity.LabDepartment">
		<id property="departmentId" column="department_id"  jdbcType="BIGINT"/>
		<result property="departmentName" column="department_name" jdbcType="CHAR" />
		<result property="shortName" column="short_name" jdbcType="CHAR" />
		<result property="departmentProfile" column="department_profile" jdbcType="VARCHAR" />
		<result property="collegeId" column="college_id" jdbcType="BIGINT" />
		<result property="createDate" column="create_date" jdbcType="DATE" />
		<result property="editDate" column="edit_date" jdbcType="DATE" />
		<result property="del" column="del" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
	    <![CDATA[
		department_id,department_name,short_name,department_profile,college_id,create_date,edit_date,del
	    ]]>
	</sql>

	<sql id="LabDepartment_findPage">
		<where>
			del=0 
	       <if test="departmentId != null">
				AND department_id = #{departmentId,jdbcType=BIGINT}
			</if>
	       <if test="departmentName != null">
				AND department_name = #{departmentName,jdbcType=CHAR}
			</if>
	       <if test="shortName != null">
				AND short_name = #{shortName,jdbcType=CHAR}
			</if>
	       <if test="departmentProfile != null">
				AND department_profile = #{departmentProfile,jdbcType=VARCHAR}
			</if>
	       <if test="collegeId != null">
				AND college_id = #{collegeId,jdbcType=BIGINT}
			</if>
	       <if test="createDate != null">
				AND create_date = #{createDate,jdbcType=DATE}
			</if>
	       <if test="editDate != null">
				AND edit_date = #{editDate,jdbcType=DATE}
			</if>
	       <if test="del != null">
				AND del = #{del,jdbcType=INTEGER}
			</if>
		</where>
	</sql>

	<insert id="insert" parameterType="com.cemobile.framework.entity.LabDepartment"  useGeneratedKeys="true" keyProperty="departmentId"  >
    <![CDATA[
        INSERT INTO lab_department (
        	department_id ,
        	department_name ,
        	short_name ,
        	department_profile ,
        	college_id ,
        	create_date ,
        	edit_date ,
        	del 
        ) VALUES (
        	#{departmentId,jdbcType=BIGINT} ,
        	#{departmentName,jdbcType=CHAR} ,
        	#{shortName,jdbcType=CHAR} ,
        	#{departmentProfile,jdbcType=VARCHAR} ,
        	#{collegeId,jdbcType=BIGINT} ,
        	#{createDate,jdbcType=DATE} ,
        	#{editDate,jdbcType=DATE} ,
        	#{del,jdbcType=INTEGER} 
        )
    ]]>
	</insert>

    <insert id="insertSelective" parameterType="com.cemobile.framework.entity.LabDepartment">
        INSERT INTO lab_department 
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="departmentId != null">department_id </if>,
			<if test="departmentName != null">department_name </if>,
			<if test="shortName != null">short_name </if>,
			<if test="departmentProfile != null">department_profile </if>,
			<if test="collegeId != null">college_id </if>,
			<if test="createDate != null">create_date </if>,
			<if test="editDate != null">edit_date </if>,
			<if test="del != null">del </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="departmentId != null">
				department_id = #{departmentId,jdbcType=BIGINT}	,
			</if>
			<if test="departmentName != null">
				department_name = #{departmentName,jdbcType=CHAR}	,
			</if>
			<if test="shortName != null">
				short_name = #{shortName,jdbcType=CHAR}	,
			</if>
			<if test="departmentProfile != null">
				department_profile = #{departmentProfile,jdbcType=VARCHAR}	,
			</if>
			<if test="collegeId != null">
				college_id = #{collegeId,jdbcType=BIGINT}	,
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=DATE}	,
			</if>
			<if test="editDate != null">
				edit_date = #{editDate,jdbcType=DATE}	,
			</if>
			<if test="del != null">
				del = #{del,jdbcType=INTEGER}	
			</if>
		</trim>
	</insert>

	<insert id="insertBatch" parameterType="com.cemobile.framework.entity.LabDepartment" >
		 INSERT INTO lab_department  (
        	department_name ,
        	short_name ,
        	department_profile ,
        	college_id ,
        	create_date ,
        	edit_date ,
        	del 
		) VALUES
		<foreach collection="list" item="item" index="index" separator=",">(
        	#{item.departmentName,jdbcType=CHAR} ,
        	#{item.shortName,jdbcType=CHAR} ,
        	#{item.departmentProfile,jdbcType=VARCHAR} ,
        	#{item.collegeId,jdbcType=BIGINT} ,
        	#{item.createDate,jdbcType=DATE} ,
        	#{item.editDate,jdbcType=DATE} ,
        	#{item.del,jdbcType=INTEGER} 
			)
		</foreach>
	</insert>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM lab_department WHERE
        department_id =#{departmentId,jdbcType=BIGINT}
    </delete>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.cemobile.framework.entity.LabDepartment" >
        UPDATE lab_department 
		<set>
				<if test="departmentName != null">
				department_name = #{departmentName,jdbcType=CHAR}	,
				</if>
				<if test="shortName != null">
				short_name = #{shortName,jdbcType=CHAR}	,
				</if>
				<if test="departmentProfile != null">
				department_profile = #{departmentProfile,jdbcType=VARCHAR}	,
				</if>
				<if test="collegeId != null">
				college_id = #{collegeId,jdbcType=BIGINT}	,
				</if>
				<if test="createDate != null">
				create_date = #{createDate,jdbcType=DATE}	,
				</if>
				<if test="editDate != null">
				edit_date = #{editDate,jdbcType=DATE}	,
				</if>
				<if test="del != null">
				del = #{del,jdbcType=INTEGER}	
				</if>
		</set>
		WHERE  department_id =#{departmentId,jdbcType=BIGINT}
	</update>

    <update id="updateByPrimaryKey" parameterType="com.cemobile.framework.entity.LabDepartment" >
        UPDATE lab_department 
		<set>
				department_name = #{departmentName,jdbcType=CHAR}	,
				short_name = #{shortName,jdbcType=CHAR}	,
				department_profile = #{departmentProfile,jdbcType=VARCHAR}	,
				college_id = #{collegeId,jdbcType=BIGINT}	,
				create_date = #{createDate,jdbcType=DATE}	,
				edit_date = #{editDate,jdbcType=DATE}	,
				del = #{del,jdbcType=INTEGER}	
		</set>
		WHERE  department_id = #{departmentId,jdbcType=BIGINT}
	</update>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select 
		<include refid="Base_Column_List" />
		from lab_department 
		WHERE  department_id = #{departmentId,jdbcType=BIGINT}
	</select>

	<select id="queryByKeyword" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from lab_department 
		<include refid="LabDepartment_findPage"/>    
	</select>

	<select id="queryAllLabDepartment" resultMap="BaseResultMap" >
		select 
		<include refid="Base_Column_List" />
		from lab_department 
	</select>
</mapper>

