<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.cemobile.framework.dao.StudentMapper">

	<resultMap id="BaseResultMap" type="com.cemobile.framework.entity.Student">
		<id property="studentId" column="student_id"  jdbcType="BIGINT"/>
		<result property="studentNumber" column="student_number" jdbcType="CHAR" />
		<result property="studentName" column="student_name" jdbcType="CHAR" />
		<result property="nickname" column="nickname" jdbcType="CHAR" />
		<result property="sex" column="sex" jdbcType="BIT" />
		<result property="age" column="age" jdbcType="INTEGER" />
		<result property="nation" column="nation" jdbcType="CHAR" />
		<result property="phone" column="phone" jdbcType="BIGINT" />
		<result property="idCard" column="id_card" jdbcType="CHAR" />
		<result property="type" column="type" jdbcType="BIGINT" />
		<result property="email" column="email" jdbcType="CHAR" />
		<result property="collegeId" column="college_id" jdbcType="BIGINT" />
		<result property="classId" column="class_id" jdbcType="BIGINT" />
		<result property="headImage" column="head_image" jdbcType="CHAR" />
		<result property="note" column="note" jdbcType="VARCHAR" />
		<result property="password" column="password" jdbcType="VARCHAR" />
		<result property="creatDate" column="creat_date" jdbcType="DATE" />
		<result property="editDate" column="edit_date" jdbcType="DATE" />
		<result property="del" column="del" jdbcType="INTEGER" />
		<result property="useriId" column="useri_id" jdbcType="BIGINT" />
	</resultMap>
	
	<sql id="Base_Column_List">
	    <![CDATA[
		s.student_id,s.student_number,s.student_name,s.nickname,s.sex,s.age,s.nation,s.phone,s.id_card,s.type,s.email,
		s.college_id,s.class_id,s.head_image,s.note,s.password,s.creat_date,s.edit_date,s.del,s.useri_id
	    ]]>
	</sql>

	<sql id="LabStudent_findPage">
		<where>
	       <if test="studentId != null">
				AND student_id = #{studentId,jdbcType=BIGINT}
			</if>
	       <if test="studentNumber != null">
				AND student_number = #{studentNumber,jdbcType=CHAR}
			</if>
	       <if test="studentName != null">
				AND student_name = #{studentName,jdbcType=CHAR}
			</if>
	       <if test="nickname != null">
				AND nickname = #{nickname,jdbcType=CHAR}
			</if>
	       <if test="sex != null">
				AND sex = #{sex,jdbcType=BIT}
			</if>
	       <if test="age != null">
				AND age = #{age,jdbcType=INTEGER}
			</if>
	       <if test="nation != null">
				AND nation = #{nation,jdbcType=CHAR}
			</if>
	       <if test="phone != null">
				AND phone = #{phone,jdbcType=BIGINT}
			</if>
	       <if test="idCard != null">
				AND id_card = #{idCard,jdbcType=CHAR}
			</if>
	       <if test="type != null">
				AND type = #{type,jdbcType=BIGINT}
			</if>
	       <if test="email != null">
				AND email = #{email,jdbcType=CHAR}
			</if>
	       <if test="classId != null">
				AND class_id = #{classId,jdbcType=BIGINT}
			</if>
	       <if test="headImage != null">
				AND head_image = #{headImage,jdbcType=CHAR}
			</if>
	       <if test="note != null">
				AND note = #{note,jdbcType=VARCHAR}
			</if>
	       <if test="password != null">
				AND password = #{password,jdbcType=VARCHAR}
			</if>
	       <if test="creatDate != null">
				AND creat_date = #{creatDate,jdbcType=DATE}
			</if>
	       <if test="editDate != null">
				AND edit_date = #{editDate,jdbcType=DATE}
			</if>
	       <if test="del != null">
				AND del = #{del,jdbcType=INTEGER}
			</if>
	       <if test="useriId != null">
				AND useri_id = #{useriId,jdbcType=BIGINT}
			</if>
		</where>
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select 
		<include refid="Base_Column_List" />
		from lab_student s
		WHERE  s.student_number = #{username,jdbcType=CHAR}
			and s.del=0
	</select>

</mapper>

